@import url('https://fonts.googleapis.com/css?family=Della+Respira|Overlock&display=swap');

/*** GENERAL ***/

/* Hiding Number Spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

h3 {
  padding-top: 1rem;
}


/*** BODY ***/

body {
  background-image: url(../img/cork-wallet.png); /* Background pattern from Toptal Subtle Patterns */
}

main {
  margin: 1em 0 0 2em;
}

#inner-div {
  background-color: olivedrab;
  border: 1px solid black;
  width: 100px;
  height: 75px;
}

#num-dice {
  width: 100px;
}

#img-button-row {
  max-height: 140px;
  display: flex;
  align-items: center;
}

#img-holder {
  display: inline-block;
  min-width: 140px;
  text-align: center;
}

#roll-dice {
  background-color: #245559;
}

.total-out,
.single-out {
  border-radius: .75rem;
  vertical-align: middle;
  text-align: center;
}

.total-out {
  display: inline-block;
  width: 150px;
  height: 75px;
  font-size: 3em;
}

.single-out {
  width: 75px;
  height: 50px;
  font-size: 2em;
  margin: 5px 10px;
}

#single-rolls {
  min-height: 60px;
  max-width: 525px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
}


/*** FOOTER ***/
.footer {
  background: linear-gradient(
    to right,
    #245559,
    rgb(0,0,0,0) 85%);
  margin-top: 1em;
}

.footer p {
  display: inline-block;
  margin-left: 1em;
  padding-top: .5em;
  color: #f0ead6;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-left: 1em;
}


/*** FONTS ***/
h1, h2, h3 {
  font-family: 'Della Respira', serif;
}

p,
label {
  font-family: 'Overlock', sans-serif;
  font-size: 1.25em;
}


/*** MEDIA QUERIES ***/
@media screen and (min-width: 500px) {
  #img-button-row {
    display: inline-block;
  }

  .footer {
    background: linear-gradient(
      to right,
      #245559,
      rgb(0,0,0,0) 75%);
  }
}